CodingStyleHacker/bin/Debug/CodingStyleHacker.exe
CodingStyleHacker/bin/Debug/CodingStyleHacker.pdb
CodingStyleHacker/bin/Debug/CodingStyleHacker.vshost.exe
CodingStyleHacker/bin/Debug/CodingStyleHacker.vshost.exe.manifest
CodingStyleHacker/obj/Debug/CodingStyleHacker.Form1.resources
CodingStyleHacker/obj/Debug/CodingStyleHacker.Properties.Resources.resources
CodingStyleHacker/obj/Debug/CodingStyleHacker.csproj.FileListAbsolute.txt
CodingStyleHacker/obj/Debug/CodingStyleHacker.csproj.GenerateResource.Cache
CodingStyleHacker/obj/Debug/CodingStyleHacker.csprojResolveAssemblyReference.cache
CodingStyleHacker/obj/Debug/CodingStyleHacker.exe
CodingStyleHacker.v12.suo
